/* Styles main background colour */
html {
    background-color: #C1A69E;
}
/* Styles container padding */
.container {
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 70px;
}

/* Styles container contents */
h1 {
    font-family: 'Silkscreen', cursive;
    background-color: #534A47;
    color: #C1A69E;
    border: solid 5px #A78C84;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
}

img {
    border-right: 5px solid #534A47;
    border-bottom: 5px solid #534A47;
    border-top: 5px solid #A78C84;
    border-left: 5px solid #A78C84;
    width: 150px;
    height: 150px;
    float: left;
    margin-right: 15px;
}

p {
    font-family: sans-serif;
    color: #534A47;
    padding-left: 15px;
    line-height: 1.5;
}

/* Styles description list */
.list-container {
    padding-left: 50px;
    padding-right: 50px;
}

.list {
    border: 5px solid #A78C84;
    background-color: #534A47;
    font-family: sans-serif;
    color: #C1A69E;
    text-align: left;
    line-height: 1.5;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}

dt {
    font-weight: bold;
}

dd {
    text-indent: -40px;
}